<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="base :: head">
    <!-- Additional head content specific to the about page, if any -->
</head>
<body>
<!-- Content specific to the about page -->
<nav th:replace="base :: nav">

</nav>
<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>ADD DAYPASS</h1>
            <form th:action="@{/save-daypass}" th:object="${daypass}" method="post">
                <div class="mb-3">
                    <label class="form-label">REASON</label>
                    <input class="form-control" type="text" aria-label="default input example" th:field="*{reason}">
                    <div id="emailHelp" class="form-text">Why you want to go out</div>
                </div>
                <div class="mb-3">
                    <label for="parent_approval">PARENT APPROVAL</label>
                    <select id="parent_approval" th:field="*{parent_approval}" class="form-select" aria-label="Default select example">
                        <option th:value="1" th:text="YES"></option>
                        <option th:value="0" th:text="NO"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="res_parent_approval">RESIDENTIAL PARENT APPROVAL</label>
                    <select id="res_parent_approval" th:field="*{res_parent_approval}" class="form-select" aria-label="Default select example">
                        <option th:value="1" th:text="YES"></option>
                        <option th:value="0" th:text="NO"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="securitygurad">GUARD SIGN-OFF</label>
                    <select id="securitygurad" th:field="*{guard_sign_off}" class="form-select" aria-label="Default select example">
                        <option th:value="1" th:text="YES"></option>
                        <option th:value="0" th:text="NO"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">STUDENT NAME</label>
                    <select id="student" name="student.id" th:field="*{student.id}" class="form-select" aria-label="Default select example">
                        <option th:each="student : ${students}" th:value="${student.id}" th:text="${student.firstName}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-3"></div>

    </div>

</div>
<script th:replace="base :: bottom"></script>
</body>
</html>
