<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="base :: head">
    <!-- Additional head content specific to the about page, if any -->
</head>
<body>
<!-- Content specific to the about page -->
<nav th:replace="base :: nav">

</nav>
<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>EDIT STUDENT</h1>
            <form method="post" th:object="${student}" th:action="@{/save-student}">
                <input type="hidden" th:field="*{id}" />
                <div class="mb-3">
                    <label class="form-label">FIRSTNAME</label>
                    <input class="form-control" type="text" aria-label="default input example" th:field="*{firstName}">
                    <div id="emailHelp" class="form-text">Why you want to go out</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">LASTNAME</label>
                    <input class="form-control" type="text" aria-label="default input example" th:field="*{lastName}" >

                </div>
                <div class="mb-3">
                    <label class="form-label">GRADE</label>
                    <input class="form-control" type="text" aria-label="default input example" th:field="*{grade}" >

                </div>
                <div class="mb-3">
                    <label class="form-label">PHONE NUMBER</label>
                    <input class="form-control" type="text" aria-label="default input example" th:field="*{phoneNumber}" >

                </div>
                <div class="mb-3">
                    <label class="form-label">EMAIL</label>
                    <input class="form-control" type="email" aria-label="default input example" th:field="*{email}" >

                </div>
                <div class="mb-3">
                    <label class="form-label">PARENT NAME</label>
                    <select id="parent" name="parent.id" th:field="*{parent.id}" class="form-select" aria-label="Default select example">
                        <option th:each="parent : ${parents}" th:value="${parent.id}" th:text="${parent.firstName}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="resparent">RESIDENTIAL PARENT</label>
                    <select id="resparent" name="resparent.id" th:field="*{resparent.id}" class="form-select" aria-label="Default select example">
                        <option th:each="resparent : ${resparents}" th:value="${resparent.id}" th:text="${resparent.firstName}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
<script th:replace="base :: bottom"></script>
</body>
</html>



