<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="base :: head">
    <!-- Additional head content specific to the about page, if any -->
</head>
<body>
<!-- Content specific to the about page -->
<nav th:replace="base :: nav">

</nav>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>PARENT LIST</h1>
            <table class="table">
                <tr>
                    <th scope="col">FIRSTNAME</th>
                    <th scope="col">LASTNAME</th>
                    <th scope="col">PHONE NUMBER</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ACTIONS</th>
                </tr>
                <tr th:each="parent : ${parents}">
                    <td th:text="${parent.firstName}"></td>
                    <td th:text="${parent.lastName}"></td>
                    <td th:text="${parent.phoneNumber}"></td>
                    <td th:text="${parent.email}"></td>
                    <td>
                        <a th:href="@{'/edit-parent/' + ${parent.id}}">Edit</a> |
                        <a th:href="@{'/delete-parent/' + ${parent.id}}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2"></div>
        <a th:href="@{/add-parent}">ADD PARENT</a>
    </div>
</div>
<script th:replace="base :: bottom"></script>
</body>
</html>