<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="base :: head">
    <!-- Additional head content specific to the about page, if any -->
</head>
<body>
<!-- Content specific to the about page -->
<nav th:replace="base :: nav">

</nav>
<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>DAYPASS LIST</h1>
            <table class="table">
                <tr>
                    <th scope="col">REASON</th>
                    <th scope="col">PARENT APPROVAL</th>
                    <th scope="col">RESIDENTIAL PARENT APPROVAL</th>
                    <th scope="col">SECURITY GUARD SIGNOFF</th>
                    <th scope="col">ACTIONS</th>
                </tr>
                <tr th:each="daypass : ${daypasses}">
                    <td th:text="${daypass.reason}"></td>
                    <td th:if="${daypass.parent_approval eq 0 }">
                        NOT YET APPROVED
                    </td>
                    <td th:else th:if="${daypass.parent_approval eq 1 }">
                        APPROVED
                    </td>
                    <td th:if="${daypass.res_parent_approval eq 0 }">
                        NOT YET APPROVED
                    </td>
                    <td th:else th:if="${daypass.res_parent_approval eq 1 }">
                        APPROVED
                    </td>
                    <td th:text="${daypass.guard_sign_off}"></td>
                    <td>
                        <a th:href="@{'/edit-daypass/' + ${daypass.id}}">Edit</a> |
                        <a th:href="@{'/delete-daypass/' + ${daypass.id}}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2"></div>
        <a th:href="@{/add-daypass}">ADD DAYPASS</a>
    </div>

</div>
<script th:replace="base :: bottom"></script>
</body>
</html>

