<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="base :: head">
    <!-- Additional head content specific to the about page, if any -->
</head>
<body>
<!-- Content specific to the about page -->
<nav th:replace="base :: nav">

</nav>
<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>RESIDENTIAL PARENT LIST</h1>
            <table class="table">
                <tr>
                    <th scope="col">FIRSTNAME</th>
                    <th scope="col">LASTNAME</th>
                    <th scope="col">PHONE NUMBER</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ACTIONS</th>
                </tr>
                <tr th:each="resparent : ${resparents}">
                    <td th:text="${resparent.firstName}"></td>
                    <td th:text="${resparent.lastName}"></td>
                    <td th:text="${resparent.phoneNumber}"></td>
                    <td th:text="${resparent.email}"></td>
                    <td>
                        <a th:href="@{'/edit-resparent/' + ${resparent.id}}">Edit</a> |
                        <a th:href="@{'/delete-resparent/' + ${resparent.id}}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2"></div>
        <a th:href="@{/add-resparent}">ADD PARENT</a>
    </div>

</div>
<script th:replace="base :: bottom"></script>
</body>
</html>



