<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="base :: head">
    <!-- Additional head content specific to the about page, if any -->
</head>
<body>
<!-- Content specific to the about page -->
<nav th:replace="base :: nav">

</nav>
<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1>STUDENT LIST</h1>
            <table class="table">
                <tr>
                    <th scope="col">FIRSTNAME</th>
                    <th scope="col">LASTNAME</th>
                    <th scope="col">PHONE NUMBER</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">GRADE</th>
                    <th scope="col">ACTIONS</th>
                </tr>
                <tr th:each="student : ${students}">
                    <td th:text="${student.firstName}"></td>
                    <td th:text="${student.lastName}"></td>
                    <td th:text="${student.phoneNumber}"></td>
                    <td th:text="${student.email}"></td>
                    <td th:text="${student.grade}"></td>
                    <td>
                        <a th:href="@{'/edit-student/' + ${student.id}}">Edit</a> |
                        <a th:href="@{'/delete-student/' + ${student.id}}">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-2"></div>
        <a th:href="@{/add-student}">ADD STUDENT</a>
    </div>

</div>
<script th:replace="base :: bottom"></script>
</body>
</html>




