<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="base :: head">
    <!-- Additional head content specific to the about page, if any -->
</head>
<body>
<!-- Content specific to the about page -->
<nav th:replace="base :: nav">

</nav>
<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>LOGIN</h1>
            <div th:if="${message != null}" class="alert alert-success" role="alert">
                [[${message}]]
            </div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                Invalid Username or password
            </div>
            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                Logged Out Successfully
            </div>
            <form th:action="@{/login}"  method="post">

                <div class="mb-3">
                    <label class="form-label">USERNAME</label>
                    <input class="form-control" type="email" id="username" name = "username" aria-label="default input example" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">PASSWORD</label>
                    <input class="form-control" type="password" name="password" aria-label="default input example" required>

                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>
<script th:replace="base :: bottom"></script>
</body>
</html>


