<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head th:replace="base :: head">
    <!-- Additional head content specific to the about page, if any -->
</head>
<body>
<!-- Content specific to the about page -->
<nav th:replace="base :: nav">

</nav>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="display-1 text-center">WELCOME</h1>
            <h1 class="display-1 text-center">TO</h1>
            <h1 class="display-1 text-center">AKAMON DAY PASS SYSTEM</h1>
            <h2 sec:authentication="principal.username">
                Navbar text with an inline element
              </h2>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<script th:replace="base :: bottom"></script>
</body>
</html>